<html><head><title>{{titulo}}</title></head><body>
<h1>{{titulo}}</h1><p>{{parrafo}}Vamos ciclon<br />
De la cuna te llevo<br />
Dentro de mi corazón<br /><br />

Sos mi razón<br />
Nada tiene sentido<br />
Si un dia no estoy con vos<br /><br />

Por eso te sigo en las buenas y en las malas<br />
Ganes o pierdas a mi no me importa nada<br />
Porque a pesar de todo lo que hemos pasado<br />
Mi San Lorenzo querido, siempre estare a tu lado.<br /><br />

Hay una cosa que nunca van a enteder<br />
Que La Gloriosa va a copar donde jugues<br />
Esta tu gente la que se bancó el descenso<br />
La que impidió que se vendiera San Lorenzo<br /><br />

Pero hay un sueño que aun me queda por lograr<br />
Ya falta menos y nada me puede parar<br />
Yo te prometo que muy pronto volveremos<br />
A levantar los escalones en Boedo<br /><br /></p><IMG SRC=casla.jpg><br /><br /><a href= https://sanlorenzo.com.ar/>Pagina Oficial Casla</a></body></html>
