<!DOCTYPE html><html><head><title>{{head}}</title></head><body>
    <h1>{{titulo}}</h1>
    <p>{{subtitulo}}</p>
<form action="./index.php" method="POST">
    Usuario: <input type="text" name='usuario'><br>
    <input type="submit" value="Entrar">
</form>
<br><br><a href=./register>Registrarse</a>
</body>
</html>
